{% extends "layout.html" %}
{% block body %}

<div class="well">
{% if debugmsg %}
  {{ debugmsg }}
{% endif %}
{% if indexes %}
  <h2 style="margin-top:-5px">Someone wants you to have this:</h2>
  {% for file in indexes %}
<a style="margin:2px;" class="btn btn-default" href="{{ url_for('file', oid=file) }}"><img src="http://cdn-img.easyicon.net/png/303/30357.png" style="width:15px;height:15px;margin-top:-2px;"> {{indexes[file]}}</a>
  {% endfor %}
{% else %}
empty
{% endif %}
</div>
{% endblock %}
